
@{
    ViewBag.Title = "FichaTecnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="personagem">
        <h1>Blanka</h1>
    </div>
    <div class="img-cont-ft">
        <img src="http://www.arkade.com.br/revista/38/data/images/img61.gif" alt="blanka-muito-loko">
    </div>
    <div class="descricao-ft">
        <b>Primeira aparição:</b>@Model.PrimeiraAparicao<br>
        <b>Nascimento: </b>@Model.Nascimento<br>
        <b>Altura:</b>@Model.Altura<br>
        <b>Peso: </b>@(Model.Peso + "cm")<br>
        <b>Medidas: </b>@Model.Medidas<br>
        <b>Tipo sanguíneo:</b>@Model.TipoSanguineo<br>
        <b>Habilidades especiais: </b>@Model.HabilidadesEspeciais<br>
        <b>Gosta:</b> @Model.Gosta<br>
        <b>Estilo de luta:</b> @Model.EstiloDeLuta<br>
        <b>Origem:</b> @Model.Origem<br>
        <b>Uma fala de vitória:</b> @Model.UmaFalaDeVitoria <br>
        <b>SSF2 nickname:</b> @Model.Ssf2<br>
        <b>SFA3 nickname:</b> @Model.Sfa3<br>
        <b>SF4 nickname:</b> @Model.Sf4 <br>
        <b>SFA3 stage:</b> @Model.Sfa3Stage <br>
        <b>SF2 stage:</b> @Model.Sf2Stage<br>
        <b>Golpes especiais famosos:</b> @Model.GolpesEspeciais<br>
        </p>
    </div>
</div>
