
@{
    ViewBag.Title = "FichaTecnica";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre o Desenvolverdor</title>
    <link rel="stylesheet" href="~/Content/estilo.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="menu-bar">
        <ul style="">
            <li><a href="~/StreetFighter/Index">Início</a></li>
            <li><a href="~/StreetFighter/Cadastro">Cadastro</a></li>
            <li><a href="~/StreetFighter/FichaTecnica">Ficha Técnica</a></li>
            <li><a href="~/StreetFighter/Sobre">Sobre</a></li>
        </ul>
    </nav>
    <div class="ficha-tec-container">
        <header>
            <h2>Ficha Técnica</h2>
        </header>

        <div class="container conteudo-ficha-tec">
            <div class="row">
                
                <div class="img-cont col-md-4">
                    <img src="@Model.Imagem" alt="Arthur-muito-loko" class="img-responsive">
                </div>
                <div class="descricao-ft col-md-8">
                    <b>Nome: </b>@Model.Nome<br>
                    <b>Nascimento: </b>@Model.DataNascimento<br>
                    <b>Altura:</b>@Model.Altura<br>
                    <b>Peso: </b>@(Model.Peso + "cm")<br>
                    <b>Origem:</b> @Model.Origem<br>
                    <b>Golpes especiais famosos:</b> @Model.GolpesEspeciais<br>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

