@{
    ViewBag.Title = "ListaDePersonagem";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre o Desenvolverdor</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/estilo.css">
</head>
<body>
    <nav class="menu-bar">
        <ul style="">
            <li><a href="~/StreetFighter/Index">Início</a></li>
            <li><a href="~/StreetFighter/ListaDePersonagem">Lista de Personagens</a></li>
            <li><a href="~/StreetFighter/Sobre">Sobre</a></li>
        </ul>
    </nav>
    <div class="ficha-tec-container">
        <header>
            <h2 style="margin-top: 8px;">Lista de Personagens</h2>
        </header>

        <div class="container conteudo-ficha-tec">
            <div class="row">
                @using (Html.BeginForm("ListaDePersonagem", "StreetFighter", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <div class="col-md-6">
                            <!--<input name="filtro" type="text" text" class="form-control"> -->
                            @Html.TextBox("filtro", null, new { @class = "form-control pesquisa-form pull-right", placeholder = "Digite um nome para pesquisar", style = "width: 250px" })

                        </div>
                        <div class="col-md-2 pull-left pesquisa-btn">
                            <button type="submit" class="btn btn-success">Pesquisar</button>
                        </div>
                        <div class="col-md-3 pull-left pesquisa-btn">
                            <a class="btn btn-primary pull-right" href="~/StreetFighter/Cadastro">Cadastrar Personagem</a>
                        </div>
                        <div class="col-md-12 pull-left">
                            <p class="situacao-message"><strong>@ViewBag.Situacao</strong></p>   
                        </div>
                    </div>
                }
                <div class="col-md-12">

                </div>
            </div>
            <article class="row lista-personagens-container">

                @{
                    foreach (var personagem in Model)
                    {
                        <article class="col-md-4 lista-personagens" style="background-image: url(''); background-size: contain;">
                            <h4><b>@personagem.Nome</b></h4>
                            <b>Data Nascimento: </b>@personagem.DataNascimento.ToString("dd 'de' MMMM 'de' yyyy")<br>
                            <b>Altura: </b>@personagem.Altura cm <br>
                            <bTu>Peso: </bTu>@personagem.Peso kg<br>
                            <b>Origem: </b>@personagem.Origem<br>
                            <b>Golpes Especiais: </b>@personagem.GolpesEspeciais<br>
                            <a href="~/StreetFighter/FichaTecnica?id=@personagem.Id"><button type="submit" class="btn btn-success">Detalhes</button></a>
                            <a href="~/StreetFighter/ListaDePersonagem?nomePersonagem=@personagem.Nome"><button class="btn btn-danger">Excluir</button></a>

                        </article>
                    }
                }
            </article>
        </div>



    </div>

</body>
</html>
