
@{
    ViewBag.Title = "Sobre";
}


    <div class="personagem">
        <h2>Arthur Lima de Souza</h2>
    </div>
    <div class="img-cont">
        <img src="https://avatars3.githubusercontent.com/u/18702590?v=3&s=460" alt="Arthur-muito-loko">
    </div>
    <div class="descricao">
        <b>Primeira aparição:</b> @Model.PrimeiraAparicao<br>
        <b>Nascimento: </b> @Model.Nascimento<br>
        <b>Altura:</b> @(Model.Altura + " cm")<br>
        <b>Peso:</b> @(Model.Peso + " kg")<br>
        <b>Tipo sanguíneo:</b> @Model.TipoSanguineo<br>
        <b>Habilidades especiais:</b> @Model.HabilidadesEspeciais<br>
        <b>Gosta:</b> @Model.Gosta<br>
        <b>Estilo de luta:</b> @Model.EstiloDeLuta<br>
        <b>Origem:</b> @Model.Origem<br>
        <b>Uma fala de vitória:</b> @Model.UmaFalaDeVitoria<br>
        <b>Golpes especiais famosos: </b> @Model.GolpesEspeciais<br>
        </p>
    </div>

<br>